.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    background-color: grey;
    box-shadow: 5px 5px 5px gray;
    padding: 10px;
    color: white;
}

.heading_div{
    float: none;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px grey;
}

.heading_div2{
    font-size:18px;
    background-color: rgb(253, 5, 100);
}

.per{
    background-color: rgb(253, 5, 100);
    color: mintcream;
}

.acu{
    background-color: rgb(253, 5, 100);
    color: mintcream;
}

.copy_right_footer{
    position: fixed;
    color: white;
    bottom:0;
    width:100%;
    background-color: gray;
    line-height: 2;
    text-align: center;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 150px;
}